asgiref==3.2.10
click==7.1.2
Django==3.0.7
django-cors-headers==3.5.0
django-crispy-forms==1.9.2
Flask==1.1.2
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.11.2
luhn==0.2.0
MarkupSafe==1.1.1
mysqlclient==1.4.6
Pillow==7.2.0
pytz==2020.1
sqlparse==0.3.1
Werkzeug==1.0.1
whitenoise==5.2.0
